.quotePost {
  display: inline-block;
  flex-basis: 45%;
  box-sizing: border-box;
  padding: 2em;
  border-radius: 0.5em;
  animation: fadeInComponent 1s;
  border: var(--color-primary) 3px solid;
  color: #333;
  background: linear-gradient(
    rgba(255, 255, 255, 0.8),
    #ffffff,
    rgba(255, 255, 255, 0.8)
  );
  margin: 1em;
  transition: 0.2s;
  position: relative;
}
.quotePost:hover {
  box-shadow: 0 0 1em var(--color-primary);
}
.quotePost:nth-child(odd):hover {
  transform: perspective(1500px) rotateY(15deg);
}
.quotePost:nth-child(even):hover {
  transform: perspective(1500px) rotateY(-15deg);
}
.quotePost * {
  transform-style: preserve-3d;
}
.quotePost q {
  font-size: 1.2em;
  line-height: 1.2;
  display: inline-block;
  margin-bottom: 3px;
  text-overflow: ellipsis;
  overflow: hidden;
  height: 3.6em;
}
.quotePost b {
  text-transform: capitalize;
}
.quotePost q::before {
  font-size: 200%;
}

.quote-social {
  margin-top: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.quote-social__comments {
  color: var(--color-primary);
}

.quote__react-button {
  cursor: pointer;
  transition: 0.2s;
  display: inline-block;
}
.quote__react-button:hover {
  transform: scale(1.1, 1.1);
}

@media screen and (max-width: 64em) {
  .quotePost {
    flex-basis: 99%;
  }
  .quote__react-button:hover {
    transform: scale(1, 1);
  }
  .quotePost:hover {
    box-shadow: 0 0 1em var(--color-primary);
  }
  .quotePost:nth-child(odd):hover {
    transform: none;
  }
  .quotePost:nth-child(even):hover {
    transform: none;
  }
}
