.home {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  position: relative;
  background-size: cover;
  color: white;
}
.home h1 {
  font-size: 4em;
  animation: fadeInComponent 1s 0.2s backwards;
  text-align: center;
  font-family: "Poppins", sans-serif;
}
.home h2 {
  margin-bottom: 2rem;
  font-size: 2em;
  text-align: center;
  font-family: "Poppins", sans-serif;
  animation: fadeInComponent 1s 0.6s backwards;
}

.home__quotes {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.more-results {
  cursor: pointer;
  background: linear-gradient(var(--color-primary), var(--color-primary-dark));
  padding: 0.7em 1em;
  border-radius: 10%;
  color: white;
  transition: 0.2s;
  border: 0;
  margin-bottom: 1em;
}
.more-results:hover {
  background: linear-gradient(
    var(--color-primary-light),
    var(--color-primary-dark)
  );
}

@media screen and (max-width: 64em) {
  .home {
    min-height: 87h;
  }
}
